{{>layouts/header}}

<table class="table">
    <thead>
        <tr>
            <th scope="co1"> No. </th>
            <th scope="co1"> Title </th>
            <th scope="co1"> Content </th>
        </tr>
    </thead>
    <tbody>
        {{#memshow}}    <!--모델에 담은 객체를 이런식으로 범위를 지정해야 한다.-->
        <tr>
            <th scope="row"> {{id}} </th>
            <td colspan="2"> {{email}} </td>
            <td> {{pass}} </td>
        </tr>
        {{/memshow}}
    </tbody>
</table>

{{>layouts/footer}}
