{{>layouts/header}}

<table class="table">
    <thead>
        <tr>
            <th scope="co1"> No. </th>
            <th scope="co1"> E-mail </th>
            <th scope="co1"> Pass </th>
        </tr>
    </thead>
    <tbody>
        {{#memshow}}    <!--모델에 담은 객체를 이런식으로 범위를 지정해야 한다.-->
        <tr>
            <th scope="row"> {{id}} </th>
            <td colspan="2"> {{email}} </td>
            <td> {{pass}} </td>
        </tr>
        {{/memshow}}
    </tbody>
</table>
<a href="/mem/edit{{memshow.id}}"><button class="btn btn-success">수정</button></a>
<a href="/mem/"><button class="btn btn-success">목록</button></a>

{{>layouts/footer}}
