{{>layouts/header}}

<form method="post" class="container" >
    <div class="mb-3">
        <label class="form-lavel"> 이메일 </label>
        <input type="text" class="form-control" name="email">
    </div>
    <div class="mb-3">
        <label class="form-label"> 비밀번호 </label>
        <input type="password" class="form-control" name="pass">
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
</form>

{{>layouts/footer}}
