<div class="card m-2" id="comments-new">
    <div class="card-body">
        <!--댓글 작성 폼-->
        <form>
            <!--닉네임 입력-->
            <div class="mb-3">
                <label class="form-label">닉네임</label>
                <input type="text" class="form-control" id="new-comment-nickname">
            </div>

            <!--댓글 본문 입력-->
            <div class="mb-3">
                <label class="form-label">댓글 내용</label>
                <textarea type="text" class="form-control" id="new-comment-body" rows="3"></textarea>
            </div>

            <!--히든 인풋-->
            {{#article}}
                <input type="hidden" id="new-comment-article-id" value="{{id}}">
            {{/article}}

            <!--전송버튼-->
            <button type="button" class="btn btn-primary" id="comment-create-btn">댓글 작성</button>
        </form>
    </div>
</div>

<script>
    {
        // 댓글 생성 버튼 변수화
        const commentCreateBtn = document.querySelector("#comment-create-btn");

        // 댓글 클릭 이벤트 감지
        commentCreateBtn.addEventListener("click", function (){
            console.log("버튼을 클릭했습니다.");
            // 새 댓글 객체 생성
            const comment = {
                nickname: document.querySelector("#new-comment-nickname").value,
                body: document.querySelector("#new-comment-body").value,
                articleId: document.querySelector("#new-comment-article-id").value
            };
            console.log(comment);

            // fetch() - 비동기 통신을 위한 API
            const url = "/api/articles/" + comment.articleId + "/comments";

            fetch(url, {
                method: "POST",     // POST 요청
                headers: {          // 전송 본문의 데이터 타입(JSON) 정보
                    "Content-Type" : "application/json"
                },
                body: JSON.stringify(comment)
            }).then(response => {
                // HTTP 응답 코드에 따른 메시지 출력
                const msg = (response.ok) ? "댓글이 등록됐습니다." : "댓글 등록 실패...!"; // 읃답 처리
                alert(msg);
                // 현재 페이지 새로 고침 (추가한 댓글 불러오기)
                window.location.reload();   // 새로 고침
            })
        })
    }
</script>