<!--헤더(인크루드 같은)-->
{{>layouts/header}}

    <!--content-->
    <div class="bg-dark text-white p-5">
        <a href="mem/signup"><h3> 멤버추가 </h3></a>
        <br>
        <a href="articles/"><h1> {{userNm}} 현재알로</h1></a>
        <br>
        <a href="it/"><h1> {{userNm}} 복습알로</h1></a>
    </div>

<!--푸터(인크루드 같은)-->
{{>layouts/footer}}
