<!--헤더(인크루드 같은)-->
{{>layouts/header}}

    <!--content-->
    <div class="bg-dark text-white p-5">
        <a href="mem/"><h3> Mem 목록 </h3></a>
        <br>
        <a href="articles/"><h1> {{userNm}} Article 목록</h1></a>
        <br>
        <a href="coffee/"><h1> {{userNm}} Coffee 목록</h1></a>
    </div>

<!--푸터(인크루드 같은)-->
{{>layouts/footer}}
