{{>layouts/header}}

<table class="table">
    <thead>
        <tr>
            <th scope="co1"> No. </th>
            <th scope="co1"> Title </th>
            <th scope="co1"> Content </th>

        </tr>
    </thead>
    <tbody>
        {{#article}}    <!--모델에 담은 객체를 이런식으로 범위를 지정해야 한다.-->
        <tr>
            <th scope="row"> {{id}} </th>
            <td colspan="2"> {{title}} </td>
            <td> {{content}} </td>
        </tr>
        {{/article}}
    </tbody>
</table>
<a href="/articles/{{article.id}}/edit" class="btn btn-info">Edit</a>
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">Delete</a>
<a href="/articles/" class="btn btn-warning">Go to List</a>
<br>
<hr>
{{>comments/_comments}} <!--상세 페이지에 댓글 뷰 파일 삽입-->
{{>layouts/footer}}
